<html>

<head>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link rel="stylesheet" >
    

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Title, Logo & CSS -->
    <title> <%= locals.title%></title>                  <!--This is how we send data from ejs to js using <%= %>-->
    <link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="/css/home.css">            <!-- our CSS file is added at the end -->
    <!-- middleware already calls assests so address = relative to this folder now -->

</head>

<body>
    HOME PAGE !! 
</body>

</html>